/*RESET*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background-color: #f6f8f9;
}

.header {
    background-color: white;
    width: 100%;
    
    
}

.toboolist{
    vertical-align: middle;
   
  font-size: 30px;
  margin-top: 10px;
  margin-bottom: 10px;
  display: inline-block;
  
}

.logo {
    vertical-align: middle;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 20px;
}

main{
    background-color: white;
    width: 70%;
    margin: auto;
    border-radius: 8px ;
}

.add-task{
    background-color: rgb(31, 162, 206);
    text-decoration: none;
    color: white;
    padding: 8px;
    font-size: 13px;
    border-radius: 8px;

}

.add-section {
    
    text-decoration: none;
    color: lightgray;
    border: 1px solid lightgray;
    padding: 8px;
    font-size: 13px;
    border-radius: 8px;
    
}

.button{
    margin: 20px 50px;
    padding-top: 25px;
 
}

hr {
    border: 1px solid #f6f8f9}

.liste{
    margin-left: 50px;
    margin-top: 15px;
}

.lista-principale{
    list-style-type: none;
    display: inline-block;
    color: rgb(43, 43, 43);
}

.lista-secondaria {
    list-style-type: none;
    display: inline-block;
    color: rgb(43, 43, 43);
    padding: 10px 40px;

}

li {
    margin: 20px 0px;
}

.check{
    border: 1px solid lightgreen;
    border-radius: 50%;
    color: rgb(83, 190, 83);
    margin-right: 5px;
    padding: 2px 0px 2px 4px;
}

.cross {
    border: 1px solid red;
    border-radius: 50%;
    color: red;
    padding: 2px 0px 2px 4px;
    margin-right: 5px;
}

.right-button{
    text-decoration: none;
    color: white;
    font-weight: bold;
    padding: 6px 10px;
    font-size: 9px;
    border-radius: 8px;
}

 .right-button {
    
    text-decoration: none;
    color: white;
    font-weight: bold;
    padding: 6px 10px;
    font-size: 9px;
    border-radius: 8px;
}

.editorial{
    background-color: rgb(31, 162, 206);
}

.q1-goals{
    background-color: rgb(136, 31, 206);
}

 .recruiting{
    background-color: rgb(52, 175, 148);
}

 .mobile{
    background-color: rgb(187, 106, 53);
}

 .website{
    background-color: rgb(184, 68, 155);
}

 .sales{
    background-color: rgb(160, 182, 38);
}